@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";


body {
    font-family: "Poppins", sans-serif;
    background-color: #add8e6;
}

.my-custom-input {
    padding-left: 10px;
}

.height {
    height: 600px;
}

.width {
    width: 590px;
}